@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 2fr 1fr 9fr 1fr;
    grid-template-columns: 2fr 5fr 2fr;
    gap: 10px;
}

.container > div {
    padding: 10px;
}

.topo {
    border-radius: 10px;
    background-color: lightcoral;
    text-align: center;
    grid-area: 1 / 1 / 2 / 4;
}

.menu {
    border-radius: 10px;
    background-color: lightblue;
    text-align: center;
    grid-area: 2 / 1 / 3 / 4;
}

.principal {
    border-radius: 10px;
    background-color: lightsalmon;
    text-align: center;
    grid-area: 3 / 1 / 4 / 3;
}

.secundario {
    border-radius: 10px;
    background-color: lightgreen;
    text-align: center;
    grid-area: 3 / 3 / 4 / 4;
}

.rodape {
    border-radius: 10px;
    background-color: lightskyblue;
    text-align: center;
    grid-area: 4 / 1 / 5 / 4;
}