@charset "UTF-8";

/* Etilo para a tela */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, lightgray, darkgray);
    height: 100vh;
}

header {
    background-color: lightgray;
    width: 100%;

}

header > h1 {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;

}

menu {
    background-color: rgb(160, 160, 160);
    color: white;

    padding: 8px;
    
}

menu > ul {
    list-style-type: none;
}

menu li {
    background-color: rgb(93, 93, 93);
    display: inline-block;
    padding: 6px;
    border-radius: 5px;
}

main {
    background-color: rgb(244, 244, 244);
    min-height: 300px;
    max-width: 600px;
    width: 90%;

    margin: auto;
    padding: 10px;
    text-align: justify;

    border-radius: 0px 0px 6px 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.442);
}

article > h2 {
    background-color: rgb(197, 197, 197);

    padding: 7px;
    margin-bottom: 8px;

    border-radius: 10px;
}