@charset "UTF-8";

/*Todas as outras medias*/

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-color: white;
    }

    main {

        background-color: white;

        border: 2px solid black;

    }

    main > h1 {

        text-shadow: none;
        color: black;

    }

    main::after {
        content: 'Acesse www.zedaodamassa.com para saber mais';
        text-decoration: underline;
        font-weight: bolder;
    }

    img.cel {display: none;}
    img.tab {display: none;}
    img.print {display: block;}
    img.pc {display: none;}
    img.tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img.cel {display: none;}
    img.tab {display: block;}
    img.print {display: none;}
    img.pc {display: none;}
    img.tv {display: none;}

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
   
    img.cel {display: none;}
    img.tab {display: none;}
    img.print {display: none;}
    img.pc {display: block;}
    img.tv {display: none;}

}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    
    img.cel {display: none;}
    img.tab {display: none;}
    img.print {display: none;}
    img.pc {display: none;}
    img.tv {display: block;}

}
