@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.caixa1 {
    background-color: red;
    text-align: center;
    border-radius: 8px;
    
    grid-area: 1 / 1 / 2 / 5;
}

.caixa2 {
    background-color: green;
    text-align: center;
    border-radius: 8px;
    
    grid-area: 2 / 1 / 4 / 3;
}

.caixa3 {
    background-color: blue;
    text-align: center;
    border-radius: 8px;
    
    grid-area: 2 / 3 / 4 / 5;
}